<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <title>Web Scrcpy</title>
    <script src="/static/js/socket.io.js"></script>
    <script src="/static/js/exp-golomb.js"></script>
    <script src="/static/js/h264-sps-parser.js"></script>
    <script src="/static/js/video_parser.js"></script>
    <script src="/static/js/input.js"></script>
</head>
<body>
    <div class="video-wrapper">
        <video id="player" autoplay muted webkit-playsinline playsinline x5-playsinline></video>

        <div id="status-bar">
            <span class="brand">Web Scrcpy</span>
            <span id="status">正在连接...</span>
        </div>

        <div id="stats">
            <div id="stats-bitrate">---</div>
            <div id="stats-fps">---</div>
            <div id="stats-resolution">---</div>
            <div id="stats-codec">---</div>
        </div>
    </div>

    <div id="controls">
        <button class="ctrl-btn" data-tip="电源" id="power-icon"><i class="fa-solid fa-power-off"></i></button>
        <button class="ctrl-btn" data-tip="音量－" id="volume-down-icon"><i class="fa-solid fa-volume-down"></i></button>
        <button class="ctrl-btn" data-tip="音量＋" id="volume-up-icon"><i class="fa-solid fa-volume-up"></i></button>
        <div class="ctrl-divider"></div>
        <button class="ctrl-btn" data-tip="返回" id="back-icon"><i class="fa-solid fa-arrow-left"></i></button>
        <button class="ctrl-btn" data-tip="主页" id="home-icon"><i class="fa-solid fa-house"></i></button>
        <button class="ctrl-btn" data-tip="菜单" id="menu-icon"><i class="fa-solid fa-bars"></i></button>
        <div class="ctrl-divider"></div>
        <button class="ctrl-btn" data-tip="截图" id="screenshot-icon"><i class="fa-solid fa-camera"></i></button>
    </div>

    <script src="/static/js/jmuxer.min.js"></script>
    <script src="/static/js/stats.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>
